{% extends 'base.html' %}

{% block title %} {{ subject }} archives {% endblock %}

{% block content %}
    <div class="bg_wrapper">
        <div class="main_wrapper title_box">
            {{ subject }} archives
        </div>
        <div class="main_wrapper">
            <button class="button hw_list_back_button go_back" onclick="go_home()">
                Go back
            </button>
            <table class="hw_table">
                <tbody>
                {% for archive in archives %}
                    <tr>
                        <td>{{ archive.date_class }}</td>
                        <td><a href="/devoir_id={{ archive.id }}">{{ archive.title }}</a></td>
                        <td>{{ archive.teacher }}</td>
                        <td>{{ archive.date_due }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}