{% extends 'base.html' %}

{% block title %} Homework List {% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/hw_list.css' %}">
{% endblock %}

{% block content %}
    <div id="title">
        Homework!
    </div>

    <div id="main_wrapper">
        <div id="control_bar">
            {% if user.is_authenticated %}
                Howdy, {{ request.user.username }}.
            {% endif %}
            <button class="top_control_button">
                Settings
            </button>
            <a href="/logout/">
                <button class="top_control_button">
                    Logout
                </button>
            </a>
        </div>

        <table>
        <tbody>
            {% for hw in hw_dict %}
                <tr>
                    <td style="text-align: center;">
                        {{ hw.subject }}
                    </td>
                    <td>
                        {{ hw.title }}
                    </td>
                    <td>
                        {{ hw.days_left }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}