{% extends 'base.html' %}

{% block title %} Homework List {% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/hw_list.css' %}">

    <script>
        // takes value from subject choice and sends to corresponding page
        function load_archive() {
            var subject_parameters = $('select#subject_select').val();
            window.location.href = '/archives?' + subject_parameters;
        }
        function load_work_in_class() {
            var subject_parameters = $('select#subject_select').val();
            window.location.href = '/inclass?' + subject_parameters;
        }

    </script>
{% endblock %}

{% block content %}
    <div class="bg_wrapper">
        <div class="main_wrapper title_box">
            Homework!
        </div>

        <div class="main_wrapper">
            <div id="control_bar">
                Howdy, {{ request.user.username }}.
                <a href="/settings" class="button_link">
                    <button class="top_control_button button">
                        Settings
                    </button>
                </a>
                <a href="/logout/" class="button_link">
                    <button class="top_control_button button">
                        Logout
                    </button>
                </a>
            </div>

            <table class="hw_table main_table">
            <tbody>
                {% for week_num, week_content in hw_dict.items %}
                    {% for day_num, day_content in week_content.items %}
                        {% for hw in day_content %}
                            <tr><td class="small_coloured_separator" colspan="3"></td></tr>
                            <tr class="hw_row">
                                <td style="text-align: center;">
                                    {{ hw.subject }}
                                </td>
                                <td width="80%">
                                    <a href="/devoir_id={{ hw.id }}">
                                        {{ hw.title }}
                                    </a>
                                </td>
                                <td>
                                    {{ hw.days_left }}
                                </td>
                            </tr>
                            {% if forloop.counter == day_content|length %}
                                <tr><td class="small_coloured_separator" colspan="3"></td></tr>
                            {% endif %}
                        {% endfor %}

                        {% if forloop.counter != week_content|length %}
                            <tr><td class="day_separator"></td></tr>
                        {% endif %}

                    {% endfor %}
                    <tr><td colspan="3" class="small_separator"></td></tr>
                    <tr><td colspan="3" class="weekend_separator">WEEKEND</td></tr>
                    <tr><td colspan="3" class="small_separator"></td></tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <div id="bottom_wrapper" class="main_wrapper">
            <select name="subject_select" id="subject_select">
                {% for subject, link in subjects.items %}
                    <option value="{{ link }}">{{ subject }}</option>
                {% endfor %}
            </select>
            <button class="button" onclick="load_archive()">Homework Archive</button>
            <button class="button" onclick="load_work_in_class()">Work done in class</button>
        </div>
    </div>
{% endblock %}