{% extends 'base.html' %}

{% block title %} Homework List {% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/hw_list.css' %}">
{% endblock %}

{% block content %}
    <div id="title">
        Homework!
    </div>

    <div id="main_wrapper">
        <div id="control_bar">
            {% if user.is_authenticated %}
                Howdy, {{ request.user.username }}.
            {% endif %}
            <button class="top_control_button button">
                Settings
            </button>
            <a href="/logout/" class="button_link">
                <button class="top_control_button button">
                    Logout
                </button>
            </a>
        </div>

        <table>
        <tbody>
            {% for hw in hw_dict %}
                <tr>
                    <td style="text-align: center;">
                        {{ hw.subject }}
                    </td>
                    <td>
                        <a href="/devoir_id={{ hw.id }}" class="hw_link">
                            {{ hw.title }}
                        </a>
                    </td>
                    <td>
                        {{ hw.days_left }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div id="bottom_wrapper" class="main_wrapper">
        <select name="subjectSelect" id="subjectSelect">
            {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
            {% endfor %}
        </select>
        <button class="button" onclick="">Homework Archive</button>
        <a href="/work_in_class/something" class="button_link">
            <button class="button">Work done in class</button>
        </a>
    </div>
{% endblock %}