{% extends 'base.html' %}

{% block title %} HW {% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/individual_hw.css' %}">
{% endblock %}

{% block content %}
    <div class="bg_wrapper">
        <div class="main_wrapper individual_hw_subject">
            <i>{{ hw_details.subject }}</i>
        </div>

        <div class="main_wrapper individual_hw_title">
            <b>{{hw_details.title }}</b>
        </div>

        <div id="additional_info" class="main_wrapper">
            <table>
            <tbody>
                <tr>
                    <td>
                        <i>Estimated time</i><br>
                        {% if hw_details.time_est %}
                            {{ hw_details.time_est }}
                        {% else %}
                            Not specified.
                        {% endif %}
                    </td>
                    <td>
                        <i>Class date:</i><br>
                        {{ hw_details.date_class }}
                    </td>
                    <td>
                        <i>Due date:</i><br>
                        {{ hw_details.date_due }}
                    </td>
                    <td>
                        <i>Days left: </i><br>
                        {{hw_details.days_left}}
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="main_wrapper individual_hw_description">
            {{ hw_details.description|safe|urlize }}

            {% if hw_details.files %}
                <br><br><br><br><hr>
                {% for file in hw_details.files %}
                    {% for file_title, file_link in file.items %}
                        <div style="text-align:center;">
                            <img src="{% static 'img/download.png' %}" width='32' height='32' alt="Download">
                            <a href="{{ file_link }}">{{ file_title }}</a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

    </div>

    <button class="button individual_hw_back_button" onclick="go_back()">
        Go back
    </button>

{% endblock %}