{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/login.css' %}">
{% endblock %}

{% block content %}
    <div id="form_wrapper">
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <div id="title">
                <center>VS Enhanced</center>
            </div>
            <table cellspacing="15">
                <tbody>
                    {% if invalid %}
                        <tr style="text-align:center;color:red;">
                            <td colspan="2">
                                Invalid credentials, please try again.
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input type="text" placeholder="Enter mail" name="username" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password</label>
                        </td>
                        <td>
                            <input type="password" placeholder="Enter Password" name="password" required>
                        </td>
                    </tr>
                    <tr style="text-align:center;">
                        <td colspan="2">
                            <input type="submit" value="Login">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}