body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

.bg_wrapper {
    margin-left: 17%;
    margin-right: 17%;
}

@media (max-width: 900px) {
    .bg_wrapper {
        margin: 0;
    }
}

.main_wrapper {
    background-color: rgba(0, 39, 123, .13);
    padding: 20px;
}

.title_box {
    margin-bottom: 20px;
    text-align: center;
    background: rgba(177, 195, 200, 0.5);
    font-size: 48px;
}

/* buttons */
.button {
    border: none;
    padding: 6px;
    border-radius: 2px;
    margin: 0px auto 0px auto;
    background: rgba(255, 195, 102, 0.81);
    display: inline-block;
    transition: all 0.5s ease;
}

.button:hover {
    background: rgba(255, 111, 55, .8);
}

.button_link {
    text-decoration: none;
}

.button_link:focus {
    outline: none;
}

/* Icon Back */
.go_back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-left: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.go_back:before {
    content: "\f137";
    position: absolute;
    left: 1em;
    top: .53em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.go_back:hover:before,
.go_back:focus:before,
.go_back:active:before {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
}

/* Hw table template */

.hw_table {
    margin: auto;
    border-collapse: collapse;
}

.hw_table td {
    border: 1px solid rgba(148, 148, 148, 1);
    padding: 5px 10px 5px 10px;
}


.main_table td {
    border: 0px;
}

/* button to go back before the table */

.hw_list_back_button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

/* Homework link */

.hw_link,
.hw_table a {
    transition: color .4s;
    color: #265C83;
    text-decoration: underline;
}

.hw_link:link, .hw_link:visited,
.hw_table a:link, .hw_table a:visited {
    color: #265C83
}

.hw_link:hover, .hw_table a:hover {
    color: #42AB4B;
}

.hw_link:active, .hw_table a:active {
    transition: color .3s;
    color: #007BE6;
}

/* individual hw and wic */

.individual_hw_subject {
    font-size: 20px;
    text-align: center;
}

.individual_hw_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.individual_hw_back_button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

.individual_hw_description {
    padding: 40px;
}

/* connection status box */

.viescolaire_status {
    position: absolute;
    text-align: center;
    font-size: 14px;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 400px;
    margin: auto;
}

.error {
    font-size: 16px;
    color: red;
    font-weight: bold;
}
