/*
Color Scheme:
Background | rgba(177, 195, 200, 0.5)
Buttons    | rgba(255, 195, 102, 0.81)
*/

* {
    font-family: 'Fira Sans', sans-serif;
}

/* top part */
#title {
    text-align: center;
    background: rgba(177, 195, 200, 0.5);
    font-size: 48px;
    padding: 30px 0px 30px 0px;
    margin: 2px 20% 20px 20%;
}

#control_bar {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.top_control_button {
    border: none;
    padding: 6px;
    border-radius: 2px;
    margin: 0px auto 0px auto;
    background: rgba(255, 195, 102, 0.81);
    display: inline-block;
}

.top_control_button:hover {
    background: rgba(255, 111, 55, .8);
}

.button_link:focus {
    outline: none;
}

/* content */
#main_wrapper {
    margin: 2px 20% 2px 20%;
    background: rgba(0, 39, 123, .13);
    padding: 0 50px 50px 50px;
}

table {
    margin: auto;
    /*text-align: center;*/
    border-collapse: collapse;
}

td {
   border: 1px solid rgba(148, 148, 148, 1);
   padding: 5px 10px 5px 10px;
}

.hw_link {
  transition: color .4s;
  color: #265C83;
  text-decoration: underline;
}

.hw_link:link, .hw_link:visited {
    color: #265C83
}

.hw_link:hover {
    color: #7FDBFF;
}

.hw_link:active {
    transition: color .3s;
    color: #007BE6;
}