/*
Color Scheme:
Background | rgba(177, 195, 200, 0.5)
Buttons    | rgba(255, 195, 102, 0.81)
*/

/* top part */
#title {
    padding: 30px 0px 30px 0px;
    margin: 2px 20% 20px 20%;
}

#control_bar {
    padding: 10px 10px 10px 10px;
    text-align: center;
} /* buttons are in base.css */

/* content */
#main_wrapper {
    margin: 2px 20% 2px 20%;
    background: rgba(0, 39, 123, .13);
    padding: 0 50px 50px 50px;
}

table {
    margin: auto;
    /*text-align: center; maybe we'll put it back ?*/
    border-collapse: collapse;
}

td {
   border: 1px solid rgba(148, 148, 148, 1);
   padding: 5px 10px 5px 10px;
}

/* footer */
#bottom_wrapper {
    text-align: center;
    margin: 20px 20% 2px 20%;
}

#bottom_wrapper * {
    margin-left: 7px;
}

#bottom_wrapper button {
    padding: 10px;
}

select {
    margin: 3px;
    border: 1px solid gray;
    border-radius: 3px;
    background: whitesmoke;
    padding: 5px;
    height: 34px;
    text-align: center;
}