#additional_info {
    border-bottom: 1px solid gray;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    border-right: 1px solid gray;
}

table tr td:last-child{
  border-right: 0;
}



