.background_wrapper {
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    padding: 20px;
}

.hw_element {
    background-color: rgba(0, 39, 123, .13);
    padding: 10px;
}

#subject {
    font-size: 20px;
    text-align: center;
}

#title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#additional_info {
    border-bottom: 1px solid gray;
    text-align: center;
}

table {
    width: 100%;
}

th, td {
    border-right: 1px solid gray;
}

table tr td:last-child{
  border-right: 0;
}

#details {
    padding: 40px;
}

#back_button {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

