/*
Background: rgba(0, 39, 123, .13)
*/

* {
    font-family: 'Fira Sans', sans-serif;
}

#title {
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#form_wrapper {
    width:50%;
    background-color: rgba(0, 39, 123, .13);
    padding: 10px 20px 5px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 18px;
}


/* The login form */

table {
    text-align: right;
    margin: auto;
}

tr {
    margin-top: 30px;
}

td {
    padding-right: 10px;
}

input {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #A4A4A4;
    transition: border 0.3s;
}

input:focus, input.focus {
    border-bottom: solid 3px #A4A4A4;
    outline: none;
}

input[type="submit"] {
    margin-top: 5px;
    padding: 10px 50px 10px 50px;
    font-size: 18px;
    background-color: rgb(212, 212, 212);
}
