<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'hw_display/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico' %}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <title> {% block title %}{% endblock %} </title>
    {% block extra_head %}{% endblock %}
    <style>
        #wrapper {
            background-color: rgba(0, 39, 123, .13);
            margin: auto 20% auto 20%;
            text-align: center;
            padding: 50px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>